<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Item
    </ion-title>
    <ion-buttons end>
      <button *ngIf="!editable" color="text" (click)="setEditable(true)" ion-button icon-only>
        Edit
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="item">
  <form id="item-form">
    <ion-item id="item-input-name">
      <ion-label class="item-label">
        Name
      </ion-label>
      <ion-input [readonly]="!getEditable()" color="secondary-text" type="text" placeholder="" value="{{item.Name}}"></ion-input>
    </ion-item>
    <ion-item id="item-input-quantity">
      <ion-label class="item-label">
        Quantity
      </ion-label>
      <ion-input [readonly]="!getEditable()" color="secondary-text" type="number" placeholder="" value="{{item.Quantity}}"></ion-input>
    </ion-item>
    <ion-item id="item-input-price">
      <ion-label class="item-label">
        Price
      </ion-label>
      <ion-input [readonly]="!getEditable()" color="secondary-text" type="number" placeholder="" value="${{item.Price}}"></ion-input>
    </ion-item>
    <ion-item id="item-input-location">
      <ion-label class="item-label">
        Location
      </ion-label>
      <ion-input [readonly]="!getEditable()" color="secondary-text" type="text" placeholder="" value="{{item.Location}}"></ion-input>
    </ion-item>
    <ion-item id="item-textarea-notes">
      <ion-label class="item-label">
        Notes
      </ion-label>
      <ion-textarea autoresize class="textarea" [readonly]="!getEditable()" color="secondary-text" placeholder="" value="{{item.Notes}}"></ion-textarea>
    </ion-item>
    <br>
    <button *ngIf="editable" id="item-button-save" ion-button color="accent" block on-click="setEditable(false)">
      Save
    </button>
    <br>
    <button *ngIf="editable" id="item-button-save" ion-button color="danger" block on-click="confirmDelete()">
      Delete
    </button>
  </form>
</ion-content>