<ion-header>
  <ion-navbar *ngIf="showSearchbar" hideBackButton color="primary">
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
    <ion-buttons end>
      <button color="text" (click)="toggleSearchbar()" ion-button>
        <ion-label>Cancel</ion-label>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ng-container *ngIf="!showSearchbar">
    <ion-navbar hideBackButton color="primary">
      <ion-buttons left>
        <button color="text" (click)="openMenu()" ion-button icon-only>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title color="text">
        KRAM
      </ion-title>
      <ion-buttons end>
        <button color="text" (click)="toggleSearchbar()" ion-button icon-only>
          <ion-icon name="search"></ion-icon>
        </button>
        <button color="text" (click)="presentPopover($event)" ion-button icon-only>
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ng-container>
</ion-header>
<ion-content id="kram">
  <ion-item-group id="kram-group1">
    <ion-item-divider color="light-primary">A</ion-item-divider>
    <ion-item id="kram-list-item1" (click)="goToItem({editable: false})">
      <ion-thumbnail item-start>
          <img src="assets/imgs/AppleWatch.jpg">
      </ion-thumbnail>
      <h2>
        Apple Watch
      </h2>
    </ion-item>
  </ion-item-group>
  <ion-item-group id="kram-group2">
    <ion-item-divider color="light-primary">N</ion-item-divider>
    <ion-item id="kram-list-item3" (click)="goToItem({editable: false})">
      <ion-thumbnail item-start>
          <img src="assets/imgs/NintendoSwitch.jpeg">
      </ion-thumbnail>
      <h2>
        Nintendo Switch
      </h2>
    </ion-item>
  </ion-item-group>
  <ion-item-group id="kram-group3">
    <ion-item-divider color="light-primary">P</ion-item-divider>
    <ion-item id="kram-list-item4" (click)="goToItem({editable: false})">
      <ion-thumbnail item-start>
          <img src="assets/imgs/PS4.jpg">
      </ion-thumbnail>
      <h2>
        Playstation 4
      </h2>
    </ion-item>
    <ion-item color="none" id="kram-list-item5">
      <ion-thumbnail item-start>
          <img src="assets/imgs/PeterPanDVD.jpg">
      </ion-thumbnail>
      <h2>
        Peter Pan (DVD)
      </h2>
    </ion-item>
  </ion-item-group>

  <ion-fab right bottom>
    <button ion-fab color="accent" (click)="goToItem({editable: true})">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>