<ion-header>
  <ion-navbar *ngIf="showSearchbar" hideBackButton color="primary">
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
    <ion-buttons end>
      <button color="text" (click)="toggleSearchbar()" ion-button>
        <ion-label>Cancel</ion-label>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ng-container *ngIf="!showSearchbar">
    <ion-navbar hideBackButton color="primary">
      <ion-buttons left>
        <button color="text" (click)="openMenu()" ion-button icon-only>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title color="text">
        KRAM
      </ion-title>
      <ion-buttons end>
        <button color="text" (click)="toggleSearchbar()" ion-button icon-only>
          <ion-icon name="search"></ion-icon>
        </button>
        <button color="text" ion-button icon-only>
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ng-container>
</ion-header>
<ion-content id="kram">
  <ion-item-group id="kram-group1">
    <ion-item-divider color="light-primary">A</ion-item-divider>
    <ion-item id="kram-list-item1" (click)="goToItem()">
      <ion-thumbnail item-left>
        <img />
      </ion-thumbnail>
      <h2>
        Item
      </h2>
    </ion-item>
    <ion-item color="none" id="kram-list-item2">
      <ion-thumbnail item-left>
        <img />
      </ion-thumbnail>
      <h2>
        Item
      </h2>
    </ion-item>
    <ion-item color="none" id="kram-list-item3">
      <ion-thumbnail item-left>
        <img />
      </ion-thumbnail>
      <h2>
        Item
      </h2>
    </ion-item>
    <ion-item color="none" id="kram-list-item4">
      <ion-thumbnail item-left>
        <img />
      </ion-thumbnail>
      <h2>
        Item
      </h2>
    </ion-item>
    <ion-item color="none" id="kram-list-item5">
      <ion-thumbnail item-left>
        <img />
      </ion-thumbnail>
      <h2>
        Item
      </h2>
    </ion-item>
    <ion-item color="none" id="kram-list-item6">
      <ion-thumbnail item-left>
        <img />
      </ion-thumbnail>
      <h2>
        Item
      </h2>
    </ion-item>
  </ion-item-group>

  <ion-item-group id="kram-group2">
    <ion-item-divider color="light-primary">B</ion-item-divider>
    <ion-item id="kram-list-item7" (click)="goToItem()">
      <ion-thumbnail item-left>
        <img />
      </ion-thumbnail>
      <h2>
        Item
      </h2>
    </ion-item>
    <ion-item color="none" id="kram-list-item8">
      <ion-thumbnail item-left>
        <img />
      </ion-thumbnail>
      <h2>
        Item
      </h2>
    </ion-item>
    <ion-item color="none" id="kram-list-item9">
      <ion-thumbnail item-left>
        <img />
      </ion-thumbnail>
      <h2>
        Item
      </h2>
    </ion-item>
    <ion-item color="none" id="kram-list-item10">
      <ion-thumbnail item-left>
        <img />
      </ion-thumbnail>
      <h2>
        Item
      </h2>
    </ion-item>
    <ion-item color="none" id="kram-list-item11">
      <ion-thumbnail item-left>
        <img />
      </ion-thumbnail>
      <h2>
        Item
      </h2>
    </ion-item>
    <ion-item color="none" id="kram-list-item12">
      <ion-thumbnail item-left>
        <img />
      </ion-thumbnail>
      <h2>
        Item
      </h2>
    </ion-item>
  </ion-item-group>

  <ion-fab right bottom>
    <button ion-fab color="accent" (click)="goToItem()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>